<a href="https://colab.research.google.com/github/NatalyBarbosa/Data-Science/blob/main/06_Pandas_manipulacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_json('dados_hospedagem.json')
dados.head()

                                         info_moveis
0  {'avaliacao_geral': '10.0', 'experiencia_local...
1  {'avaliacao_geral': '10.0', 'experiencia_local...
2  {'avaliacao_geral': '10.0', 'experiencia_local...
3  {'avaliacao_geral': '10.0', 'experiencia_local...
4  {'avaliacao_geral': '10.0', 'experiencia_local...

In [ ]:
#normalizando a coluna "info-moveis"

dados = pd.json_normalize(dados['info_moveis'])
dados

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,nan,--,5,[Our cozy little bungalow is the perfect place...,[The Queen Anne neighborhood is one of the mos...,"[1, 3, 2, 2, 2, 1, 2, 1, 1, 1, 2, 3, 2, 2, 2, ...","[2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, ...","[3, 2, 2, 3, 3, 2, 3, 2, 2, 3, 3, 3, 2, 3, 2, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{""Cable TV"",""Wireless Internet"",Kitchen,""Free...","[$250.00, $200.00, $0, $0, $0, $200.00, $350.0...","[$35.00, $50.00, $100.00, $100.00, $0, $30.00,...","[$150.00, $200.00, $143.00, $150.00, $350.00, ..."
66,nan,--,6,[Bright clean 2 bedroom 1 bath appartment in t...,[Ballard is the most interesting and ecclectic...,"[1, 1, 3, 2, 1, 3, 2, 2, 1, 2, 2, 2, 1, 2, 1, ...","[2, 3, 3, 2, 2, 3, 2, 3, 2, 2, 2, 2, 4, 3, 3, ...","[3, 3, 2, 3, 3, 3, 2, 3, 3, 3, 2, 2, 4, 4, 3, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",K...","[$200.00, $200.00, $100.00, $0, $0, $750.00, $...","[$0, $0, $100.00, $0, $75.00, $140.00, $112.00...","[$99.00, $185.00, $250.00, $200.00, $275.00, $..."
67,nan,--,7,[Beautiful end-unit townhome with lots of dayl...,"[Cherry blossoms (Sakura) in the spring, every...","[4, 3, 1, 2, 2, 1, 2, 1, 2, 2]","[3, 4, 3, 3, 3, 3, 3, 3, 3, 4]","[3, 5, 1, 5, 3, 2, 3, 4, 4, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$750.00, $350.00, $500.00, $500.00, $0, $200....","[$300.00, $90.00, $250.00, $100.00, $109.00, $...","[$218.00, $350.00, $450.00, $149.00, $99.00, $..."
68,nan,--,8,[Heart of Ballard new townhome with 4 BRs + ba...,"[--, --, The suite is conveniently located off...","[2, 2, 3, 1, 1, 2, 1, 3, 2, 1, 2, 1, 2, 2, 2, ...","[4, 2, 3, 4, 3, 3, 4, 4, 3, 5, 2, 3, 3, 4, 5, ...","[4, 4, 3, 3, 5, 5, 5, 5, 3, 5, 4, 5, 5, 4, 1, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",""Air Conditi...","[$500.00, $150.00, $250.00, $800.00, $0, $500....","[$50.00, $85.00, $150.00, $75.00, $100.00, $80...","[$275.00, $199.00, $400.00, $325.00, $300.00, ..."
69,nan,--,9,[This business-themed modern home features: *...,[Your hosts made Madison Valley their home whe...,"[2, 1]","[3, 4]","[6, 6]","[Real Bed, Real Bed]","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00, $500.00]","[$150.00, $0]","[$250.00, $350.00]"

## Coletando os nomes das colunas

Para desagrupar esses dados, podemos utilizar o mÃ©todo .explode(), que separa as informaÃ§Ãµes em linhas. Ele requer que enviemos o nome das colunas que serÃ£o transformadas, entÃ£o o primeiro passo Ã© coletar esses nomes.

Para isso, criaremos uma lista chamada colunas onde transformaremos os valores em listas:

In [ ]:
colunas = list(dados.columns)
colunas

['avaliacao_geral',
 'experiencia_local',
 'max_hospedes',
 'descricao_local',
 'descricao_vizinhanca',
 'quantidade_banheiros',
 'quantidade_quartos',
 'quantidade_camas',
 'modelo_cama',
 'comodidades',
 'taxa_deposito',
 'taxa_limpeza',
 'preco']

## Usando o .explode() para desagrupar dados
**negrito**
Como queremos que nosso dataframe nÃ£o possua dados agrupados em listas, vamos reatribuir essas informaÃ§Ãµes para os dados jÃ¡ destrinchados em linhas. Para isso, passamos o mÃ©todo .explode() especificando as colunas de dados que queremos que sejam separados em linhas. Ou seja, a lista colunas a partir do Ã­ndice 3, seguido de :, que indica que deve ir atÃ© o Ãºltimo valor da lista.

In [ ]:
dados = dados.explode(colunas[3:]) #conta a partir do Ã­ndice 3
dados #desagrupados

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
0,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
0,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
0,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
0,10.0,--,1,The â€œStudio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,nan,--,8,Beautiful craftsman home in the historic Wedgw...,--,3,4,5,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$178.00,$299.00
68,nan,--,8,Located in a very easily accessible area of Se...,"Quiet, dead end street near I-5. The proximity...",2,4,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",$0,$99.00,$199.00
68,nan,--,8,This home is fully furnished and available wee...,--,1,3,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$0,$0,$400.00
69,nan,--,9,This business-themed modern home features: *H...,Your hosts made Madison Valley their home when...,2,3,6,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$150.00,$250.00
69,nan,--,9,This welcoming home is in the quiet residentia...,"Despite the quiet, leafy streets of this resid...",1,4,6,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$500.00,$0,$350.00

## Resetando os Ã­ndices para ordenar os dados

Para isso, usaremos o mÃ©todo .reset_index() passando os parÃ¢metros inplace=True e drop=True. O primeiro substitui os Ã­ndices no dataframe, jÃ¡ o segundo trata-se da criaÃ§Ã£o de uma coluna com os Ã­ndices antigos, porÃ©m, sendo True, nÃ£o teremos essa criaÃ§Ã£o. Por fim, passamos a visualizaÃ§Ã£o dos primeiros registros com dados.head().

In [ ]:
dados.reset_index(inplace = True,drop=True) #reseta index antigos e coloca novos Ã­ndices ordenados
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
3,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
4,10.0,--,1,The â€œStudio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00

## Verificando os tipos de dados

Ã‰ possÃ­vel notar as caracterÃ­sticas dos dados do nosso dataframe: hÃ¡ textos e nÃºmeros inteiros e float. Mas precisamos garantir que estejam com a tipagem correta para que possamos utilizÃ¡-los em tratamentos futuros.

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   object
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: object(13)
memory usage: 387.9+ KB

Perceba que a coluna "Dtype" traz todos os dados como sendo do tipo object. HÃ¡ trÃªs possibilidades para que um dado seja identificado assim:

  1.   por termos tipos diferentes de dados em uma mesma coluna;
  2.   quando os dados possuem um tipo especÃ­fico que nÃ£o foi identificado na leitura do Pandas;
  3.   todos os tipos sÃ£o strings.

Para trabalharmos com estatÃ­stica, por exemplo, precisamos que os dados numÃ©ricos sejam corretamente tipados como nÃºmeros. Sendo assim, quando temos vÃ¡rias colunas do tipo object, a **transformaÃ§Ã£o da tipagem** precisa ser feita manualmente.

ComeÃ§aremos a conversÃ£o dos nossos dados pelas colunas numÃ©ricas. Para isso, usaremos o mÃ©todo .astype(). Mas, primeiro, importaremos a biblioteca NumPy, que nos fornecerÃ¡ um tipo de dado (inteiro e float) para podermos converter as colunas numÃ©ricas no nosso dataframe.

In [ ]:
import numpy as np

Tratando dados numÃ©ricos: convertendo para tipo inteiro

Iniciaremos o tratamento pela coluna "max_hospedes", que Ã© de nÃºmeros inteiros.

O mÃ©todo .astype() nos permite converter colunas para um tipo especÃ­fico de dado. Sendo assim, chamamos nosso dataframe dados e passamos a coluna que queremos converter entre colchetes ['max_hospedes']. Em seguida, chamamos o mÃ©todo .astype() passando o tipo de dado para o qual vamos alterar, no caso, np.int64, que Ã© um tipo especÃ­fico de inteiro com precisÃ£o de 64 bits.

In [ ]:
dados['max_hospedes']=dados['max_hospedes'].astype(np.int64)

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: int64(1), object(12)
memory usage: 387.9+ KB

Para isso, criaremos uma variÃ¡vel col_numericas, que serÃ¡ uma lista com as colunas cujos dados devem ser do tipo inteiro. SÃ£o elas "quantidade_banheiros", "quantidade_quartos", "quantidade_camas".

In [ ]:
col_numericas = ['quantidade_banheiros','quantidade_quartos','quantidade_camas']

In [ ]:
dados[col_numericas] = dados[col_numericas].astype(np.int64) #Note que as colunas transformadas estÃ£o definidas como sendo do tipo int64:

In [ ]:
dados['avaliacao_geral'] = dados['avaliacao_geral'].astype(np.float64)

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 387.9+ KB

Cada elemento dessa coluna Ã© uma string, entÃ£o podemos fazer uma funÃ§Ã£o que passe linha por linha para remover os caracteres.

Para isso, usaremos o mÃ©todo .apply() com lambda, que aplica uma funÃ§Ã£o especÃ­fica a cada elemento, no caso, a remoÃ§Ã£o dos caracteres.

Dentro de .apply(), passamos uma funÃ§Ã£o lambda que lerÃ¡ cada elemento x, ou seja, os dados de cada linha. Feito isso, usaremos o mÃ©todo .replace() para substituir os caracteres de cifrÃ£o e vÃ­rgula por nada, ou seja, por uma string vazia. Depois, usaremos .strip() para remover qualquer caractere antes ou depois do elemento.

In [ ]:
dados['preco'] = dados['preco'].apply(lambda x: x.replace('$','').replace(',','').strip())

O applymap()mÃ©todo permite aplicar uma ou mais funÃ§Ãµes ao objeto DataFrame.

Vamos transformar os valores dessas colunas para float utilizando o mÃ©todo .astype():

In [ ]:
dados['preco'] = dados['preco'].astype(np.float64)

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   float64
dtypes: float64(2), int64(4), object(7)
memory usage: 387.9+ KB

Note que, assim como a coluna "preco", temos dados com cifrÃ£o e vÃ­rgula. PorÃ©m, para convertÃª-los, nÃ£o usaremos o mÃ©todo .apply(), pois ele Ã© utilizado para linhas e colunas.

## Aplicar o .applymap()

Quando tratamos da conversÃ£o de um dataframe, no qual passaremos por cada elemento, Ã© mais viÃ¡vel utilizarmos o mÃ©todo .applymap().

Dentro dos parÃªnteses deste mÃ©todo, aplicamos o mesmo processo aplicado Ã  "preco". Ou seja, a funÃ§Ã£o lambda e os mÃ©todos .replace() e .strip():

In [ ]:
dados[['taxa_deposito','taxa_limpeza']] = dados[['taxa_deposito','taxa_limpeza']].applymap(lambda x: x.replace('$','').replace(',','').strip())

In [ ]:
dados[['taxa_deposito','taxa_limpeza']] = dados[['taxa_deposito','taxa_limpeza']].astype(np.float64)

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   float64
 11  taxa_limpeza          3818 non-null   float64
 12  preco                 3818 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 387.9+ KB

Podemos tratar esses textos buscando criar uma estrutura mais acessÃ­vel para realizar essa anÃ¡lise textual. Nessa aula, realizaremos a manipulaÃ§Ã£o dos textos de cada coluna textual para criar uma estrutura de tokenizaÃ§Ã£o simples.

A **tokenizaÃ§Ã£o** Ã© a divisÃ£o do texto em tokens, ou seja, unidades menores. Esses tokens podem ser palavras, sÃ­labas, conjuntos de palavras e assim por diante, dependendo do tipo de aplicaÃ§Ã£o.

Como faremos uma tokenizaÃ§Ã£o simples, separaremos o texto apenas por palavras. Ou seja, os tokens serÃ£o cada palavra do nosso texto.

## ManipulaÃ§Ã£o dos textos

Podemos comeÃ§ar a estruturar a tokenizaÃ§Ã£o padronizando o nosso texto para letras minÃºsculas. EntÃ£o, de volta ao Google Colab, o primeiro passo serÃ¡ manipular os dados da coluna descricao_local. Essa coluna serÃ¡ o foco inicial da nossa aula.

In [ ]:
dados['descricao_local'] = dados['descricao_local'].str.lower()

Podemos observar que temos letras maiÃºsculas nos textos. Para converter todos esses elementos para letras minÃºsculas, podemos utilizar o mÃ©todo str(). Com ele, conseguimos ler a nossa sÃ©rie como se ela fosse elementos de strings, de modo similar aos mÃ©todos apply e applymap.

EntÃ£o, ao lado de dados['descricao_local'], colocamos um .str(). Isso jÃ¡ farÃ¡ o processo de leitura dos elementos dessa coluna como strings. A partir disso, podemos aplicar os mÃ©todos originÃ¡rios do tipo string nesse dataframe. EntÃ£o, se queremos transformar essas letras para minÃºsculas, utilizaremos o mÃ©todo lower():

In [ ]:
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,this clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,0.0,110.0
1,10.0,--,1,our century old upper queen anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,45.0
2,10.0,--,1,cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,55.0
3,10.0,--,1,very lovely and cozy room for one. convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,20.0,52.0
4,10.0,--,1,the â€œstudio at mibbett hollow' is in a beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",0.0,15.0,85.0

In [ ]:
dados['descricao_local'][3169]

"built, run and supported by seattle tech and start up veterans, grokhome's focus is to create a supportive environment for smart people working on interesting projects, start ups and more. this listing is an upper bunk, in a 2-person shared room. *note: this fall, there will be major renovations happening on one kitchen and bathroom at a time. there will always be two other working kitchens and two working bathrooms in the house. we'll work to minimize the impact these renovations have on your stay. **this listing is only available to those working in the tech/science space. live in a hacker house, and immerse yourself in the seattle tech scene. you can expect to be surrounded by smart people solving big problems or working on something fun. we have frequent demo nights, and love when our guests share something they are passionate about. if you're new to the city, our deep ties to the seattle tech scene can help you get involved. expand your network, develop your ideas, and learn somet"

## Regex: removendo caracteres especiais

Dentro dos parÃªnteses do mÃ©todo replace(), colocaremos aspas simples e passaremos como primeiro parÃ¢metro o Regex responsÃ¡vel por encontrar todos os caracteres do texto - com exceÃ§Ã£o das letras, nÃºmeros, apÃ³strofo e hÃ­fen. O Regex Ã© o seguinte:

[^a-zA-Z0-9\-\']

Vamos entender sua estrutura. NÃ³s abrimos e fechamos colchetes e, dentro deles, comeÃ§amos a expressÃ£o com um sinal circunflexo (^), que nega os prÃ³ximos valores. Ou seja, colocamos em seguida os valores que ele nÃ£o vai selecionar:

* a-z: todas as letras, do "a" ao "z", minÃºsculas;
* A-Z: todas as letras, do "A" ao "Z", maiÃºsculas;
* 0-9: todos os nÃºmeros, de 0 a 9;
* \-: hÃ­fen;
* \': apÃ³strofo.

Toda essa expressÃ£o diz: "selecione todos os caracteres, exceto as letras (maiÃºsculas ou minÃºsculas), nÃºmeros, hÃ­fen e apÃ³strofo".

Vamos adicionar uma vÃ­rgula depois dessa expressÃ£o e adicionar mais um par de aspas simples com um espaÃ§o entre elas. Assim, todos os caracteres especiais serÃ£o substituÃ­dos por um espaÃ§o.

Por fim, para conseguir utilizar esse cÃ³digo Regex, precisamos inserir o parÃ¢metro de Regex dentro de replace(). EntÃ£o adicionamos mais uma vÃ­rgula e escrevemos regex=True.

In [ ]:
dados['descricao_local'] = dados['descricao_local'].str.replace('[^a-zA-Z0-9\-\']',' ',regex=True)

Removendo hifens fora de palavras compostas
O nosso prÃ³ximo passo serÃ¡ remover os hifens que nÃ£o estejam conectando palavras compostas, ou seja, os hifens soltos que nÃ£o tenham nenhum caractere antes ou depois deles. HÃ¡ um Regex especÃ­fico para realizar essa tarefa!

Primeiro, vamos copiar todo o texto a partir do sinal de igual da nossa atribuiÃ§Ã£o e colar em uma nova cÃ©lula (dados['descricao_local'].str.replace('(?<!\w)-(?!\w)', '', regex=True)).

No primeiro parÃ¢metro de replace(), selecionamos todo o Regex que criamos e o apagamos para inserir um novo Regex, capaz de verificar se hÃ¡ elementos antes ou depois de determinado hÃ­fen e mantÃª-lo apenas se esse for o caso:

(?<!\w)-(?!\w)

Esse Regex tem uma estrutura diferente: entre parÃªnteses, colocamos um sinal de interrogaÃ§Ã£o (?), um sinal de menor (<), uma exclamaÃ§Ã£o (!), barra () e a letra "w" minÃºscula. Depois dos primeiros parÃªnteses, inserimos um hÃ­fen e abrimos novos parÃªnteses, contendo os mesmos caracteres, exceto pelo sinal de menor. Ou seja:

(?<!\w): uma "lookbehind" negativa que verifica se hÃ¡ um caractere de palavra antes do hÃ­fen ou se hÃ¡ apenas um espaÃ§o em branco, resultando em "verdadeiro" se nÃ£o houver nada;
(?!\w): uma lookahead negativa que verifica se hÃ¡ um caractere de palavra depois do hÃ­fen.
A combinaÃ§Ã£o de lookbehind negativo e lookahead negativo garante que o hÃ­fen esteja entre espaÃ§os em branco ou no inÃ­cio ou fim de uma palavra. Nesse caso, esse hÃ­fen serÃ¡ selecionado por esse Regex e substituÃ­do por um espaÃ§o em branco.

In [ ]:
dados['descricao_local'] = dados['descricao_local'].str.replace('(?<!\w)-(?!\w)',' ',regex=True)

## MÃ©todo split()

Para criar tokens, basta separar cada uma das palavras como elementos de uma lista. Para transformar uma string numa lista, usamos o mÃ©todo split(). Podemos aplicÃ¡-lo na nossa coluna por meio do str, que jÃ¡ nos acostumamos a utilizar!

Numa nova cÃ©lula do Colab, vamos chamar a nossa coluna com dados['descricao_local']. Em seguida, inserimos .str para tratar elementos como strings. Depois disso, adicionamos o .split() - mÃ©todo capaz de dividir elementos textuais em uma lista, usando o espaÃ§o em branco como elemento separador.

In [ ]:
dados['descricao_local'] = dados['descricao_local'].str.split()
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,"[this, clean, and, comfortable, one, bedroom, ...",Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,0.0,110.0
1,10.0,--,1,"[our, century, old, upper, queen, anne, house,...","Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,45.0
2,10.0,--,1,"[cozy, room, in, two-bedroom, apartment, along...",The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,55.0
3,10.0,--,1,"[very, lovely, and, cozy, room, for, one, conv...","Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,20.0,52.0
4,10.0,--,1,"[the, studio, at, mibbett, hollow', is, in, a,...",--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",0.0,15.0,85.0

### **Tratamento dos dados**

Primeiramente,Â **removeremos as chaves e aspas**Â - caracteres que nÃ£o nos ajudarÃ£o a tokenizar nossa coluna de comodidades. JÃ¡ sabemos fazer isso usando o mÃ©todoÂ `replace()`Â e oÂ **Regex**: vamos identificar os caracteres em questÃ£o e substituÃ­-los.

EntÃ£o, como primeiro parÃ¢metro deÂ `replace()`, passamos o RegexÂ `\{|}|\"`Â para encontrar:

- `{|`Â chave aberta;
- `}|`Â chave fechada;
- `"`Â aspas.
    - as barras verticais (`|`) representam uma escolha entre dois padrÃµes diferentes.

Neste caso, podemos manter as vÃ­rgulas para utilizÃ¡-las como separador para dividir as palavras em uma lista na nossa tokenizaÃ§Ã£o.

AlÃ©m disso, o que vai substituir esses caracteres Ã© uma string vazia. Portanto, como segundo parÃ¢metro, adicionamos apenas um par de aspas simples sem nada entre elas.

In [ ]:
dados['comodidades'] = dados['comodidades'].str.replace('\{|}|\"','',regex=True)

## TokenizaÃ§Ã£o

Agora, criaremos a nossa lista de tokens. Faremos o mesmo que fizemos com a coluna descricao_local, utilizando o mÃ©todo split().

Para isso, vamos copiar a cÃ©lula anterior atÃ© o str e colar em uma nova cÃ©lula, adicionando .split() ao final. Dentro dos parÃªnteses, vamos passar como parÃ¢metro o nosso caractere separador, as vÃ­rgulas, entre aspas simples ','. Na linha abaixo, escrevemos dados.head() para verificar o resultado:

In [ ]:
dados['comodidades'] = dados['comodidades'].str.split(',')
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,"[this, clean, and, comfortable, one, bedroom, ...",Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"[Internet, Wireless Internet, Kitchen, Free Pa...",0.0,0.0,110.0
1,10.0,--,1,"[our, century, old, upper, queen, anne, house,...","Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"[TV, Internet, Wireless Internet, Kitchen, Fre...",0.0,0.0,45.0
2,10.0,--,1,"[cozy, room, in, two-bedroom, apartment, along...",The convenience of being in Seattle but on the...,1,1,1,Futon,"[TV, Internet, Wireless Internet, Kitchen, Fre...",0.0,0.0,55.0
3,10.0,--,1,"[very, lovely, and, cozy, room, for, one, conv...","Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"[Internet, Wireless Internet, Kitchen, Free Pa...",0.0,20.0,52.0
4,10.0,--,1,"[the, studio, at, mibbett, hollow', is, in, a,...",--,1,1,1,Real Bed,"[Wireless Internet, Kitchen, Free Parking on P...",0.0,15.0,85.0

In [ ]:
dt_data = pd.read_json('/content/moveis_disponiveis.json')
dt_data.head()

    id        data  vaga_disponivel preco
0  857  2016-01-04            False  None
1  857  2016-01-05            False  None
2  857  2016-01-06            False  None
3  857  2016-01-07            False  None
4  857  2016-01-08            False  None

In [ ]:
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  object
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

Temos quatro colunas: id, data, vaga_disponivel e preco. Dentre elas, aquela que mais nos interessa Ã© a data.

Vemos que ela possui o formato "ano-mÃªs-dia" (AAAA-MM-DD). Este Ã© um formato padrÃ£o da estrutura do datetime, portanto, nÃ£o precisamos nos preocupar com a formataÃ§Ã£o.

Nos resta verificar se os dados estÃ£o no tipo datetime. Para isso, selecionaremos a prÃ³xima cÃ©lula e adicionaremos o mÃ©todo info().

dt_data.info()
COPIAR CÃ“DIGO
Pressionaremos "Shift+Enter" e veremos o retorno abaixo:

#	Column	Non-Null Count	Dtype
---	------	--------------	-----
0	id	365000 non-null	int64
1	data	365000 non-null	object
2	vaga_disponivel	365000 non-null	bool
3	preco	270547 non-null	object
Nele, notaremos que o tipo (Dtype) da segunda linha (que representa a coluna data) Ã© object. Transformaremos esta coluna no tipo desejado â€” o temporal, ou seja, o datetime.

O Pandas fornece o mÃ©todo to_datetime() que nos permite transformar a coluna de um dataframe em datetime. Vamos chamar o Pandas pelo comando pd e utilizar este mÃ©todo em nossa cÃ©lula.

In [ ]:
dt_data['data'] = pd.to_datetime(dt_data['data'])

In [ ]:
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  datetime64[ns]
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

In [ ]:
dt_data.head()

    id       data  vaga_disponivel preco
0  857 2016-01-04            False  None
1  857 2016-01-05            False  None
2  857 2016-01-06            False  None
3  857 2016-01-07            False  None
4  857 2016-01-08            False  None

Nas atividades desta aula, descobrimos o mÃ©todo chamado strftime, capaz de formatar os valores de data para o formato que quisermos.

In [ ]:
dt_data['data'].dt.strftime('%Y-%m')

0         2016-01
1         2016-01
2         2016-01
3         2016-01
4         2016-01
           ...
364995    2016-12
364996    2016-12
364997    2016-12
364998    2017-01
364999    2017-01
Name: data, Length: 365000, dtype: object

In [ ]:
subset = dt_data.groupby(dt_data['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum()
subset

data
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: vaga_disponivel, dtype: int64